.login-header {
  top: 0;
  padding-top: 20px;
  padding-left: 30px;
  margin-top: 0px;
  background-color: #000000;
  height: 72px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #000000;
  color: #fff;
}

.create-account {
  padding-top: 20px;
  padding-bottom: 20px; 
}

.new-username-password {
  padding-top: 20px;
}

.agree-terms {
  padding-top: 20px;
  padding-bottom: 20px;
}

.left-side-Login {
  margin-top: 77px;
  margin-right: auto!important;
  position: relative;
  display: block;
  width: 100px;
}

.left-picture {
  margin-left: 50px;
}

.splash {
  font-size: 300%;
}

.info {
  margin-right: 20%;
}

.name {
  color: white;
  font-size: 28px;
  font-weight: bold;
}